body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#sidebar {
    position: absolute;
    top: 0;
    left: -200px; /* Initial position */
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    transition: left 0.5s ease;
}

#sidebar.active {
    left: 0; /* Moved position */
}

#toggleSidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}
