/*@font-face { font-family: "Cocogoose"; src: url('assets/fonts/cocogoose-classic-trial.medium.ttf'); }
@font-face { font-family: "JetBrains Mono"; src: url('assets/fonts/JetBrainsMonoNerdFont-Regular.ttf '); }
@font-face { font-family: "Techna Sans"; src: url('assets/fonts/techna-sans.regular.otf'); } */

* {
	margin: 0;
	font-family: "Helvetica";
	color: white;
}

p.error {
	font-size: 16px;
	color: red;
}

p.succes {
	font-size: 16px;
	color: white;
}

div.background {
	background: url(assets/images/background-new.png);
	background-size: cover;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

div.bar {
	margin: 0px;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(52, 255, 255);
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: blur(64px);
	backdrop-filter: blur(12px);
	padding: 20px;
	margin: 0px;
	font-weight: bold;
}

div.sidebar {
	background-size: cover;
	margin: 0px;
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: -18%;
	color: rgba(52, 255, 255);
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: blur(64px);
	backdrop-filter: blur(12px);
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-weight: bold;
	font-size: 24px;
	text-align: right;
	z-index: 1;
}

div.sidebar_content {
	text-align: left;
	float: left;
}

div.title {
	top: -185%;
	text-align: center;
	font-size: 100px;
	float: center;
	cursor: pointer;
}
input.login_button {
	opacity: 1;
	transition: opacity 500ms;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 20px;
	right: 190px;
	border-radius: 16px;
	border-width: 0px;
	width: 5%;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

input.signup_button {
	opacity: 1;
	transition: opacity 500ms;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 50px;
	right: 190px;
	border-radius: 16px;
	border-width: 0px;
	width: 5%;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

input.submit_button {
	opacity: 1;
	transition: opacity 500ms;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 15px 150px 15px 150px;
	border-width: 0px;
	border-radius: 32px;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

input.register_button {
	opacity: 1;
	transition: opacity 500ms;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	padding: 0px 0px 0px 0px;
	border-width: 0px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0);
}

#box {
	opacity: 1;
	transition: opacity 500ms;
	color: rgba(255,255,255,1);
	border: 64px solid;
	font-size: 22px;
	border-color: rgba(255, 255, 255, 1);
	border-width: 0px 0px 2px 0px;
	background-color: rgba(56, 56, 56, 0);
	padding: 14px 90px 14px 20px;
	outline: none;
}

::placeholder {
	color: white;
	opacity: 1;
}

#discription {
	font-weight: bold;
	font-size: 40px;
	color: rgba(255, 255, 255, 1);
}

#small_discription {
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
}

div.selection {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-radius: 32px;
	width: auto;
	margin: auto;
	padding: 50px 75px 50px 75px;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(12px);
	border-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	color: white;
	/* animation: superman-fly-up ease-in-out 0.5s forwards; */
	text-align: left;
	color: white;
	z-index: 2;
}

#won {
	left: 0px;
	font-size: 60px;
	font-weight: bold;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	border-style: solid;
	border-radius: 32px;
	width: auto;
	margin: auto;
	padding: 50px 75px 50px 75px;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(12px);
	border-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	color: white;
	/* animation: superman-fly-up ease-in-out 0.5s forwards; */
	color: white;
	z-index: 2;
}

div.login_field {
	position: absolute;
	border-style: solid;
	border-radius: 32px;
	margin: auto;
	padding: 50px 75px 50px 75px;
	text-align: center;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(12px);
	border-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	color: white;
	/* animation: superman-fly-up ease-in-out 0.5s forwards; */
	z-index: 2;
}

input.submit_button:hover {
 opacity: 0.5;
}

input.login_button:hover {
 opacity: 0.5;
}

input.signup_button:hover {
 opacity: 0.5;
}

input.register_button:hover {
 opacity: 0.5;
}

.moved-right {
	position: absolute; /* Set position to absolute */
	left: 5px; /* Move to the right by 19% */
}

#box:hover {
 opacity: 0.5;
}

@keyframes superman-fly-up {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-85vw);
	}
}

@keyframes superman-fly-down {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(85vw);
	}
}

@keyframes superman-fly-right {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(19vw);
	}
}

@keyframes superman-unfly-right {
	from {
		transform: translateX(19);
	}
	to {
		transform: translateX(0);
	}
}
